* {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    color: green;
}

th {
    color:cornflowerblue;
    text-align: left;
    width: 200px;
}

td {
    color:lawngreen;
    text-align: left;
}

td:hover {
    background:yellow;
    color: rgb(231, 26, 26);
}

label {
    color:cyan;
    width: 400px;
    text-align: left;
    display: inline-block;
}

input {
    background-color: lightgrey;
}    

.cooked {
    position: relative;;
    left: -18.5px;
}   

.radio {
    position: relative;
    left: 20px;
    width: 20px;
}

footer {
    background-image: url('../resources/sliders.jfif');
    background-size: cover;
    height: 900px;
}