* {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
*/
h1 {
    color: green;
}

th {
    color:cornflowerblue;
    text-align: left;
    width: 200px;
}

td {
    color:lawngreen;
    text-align: left;
}

td:hover {
    background:yellow;
    color: rgb(231, 26, 26);
}

label {
    color:cyan;
    width: 400px;
    text-align: left;
    display: inline-block;
}

input {
    background-color: lightgrey;
}    

.cooked {
    position: relative;;
    left: -18.5px;
}   

.radio {
    position: relative;
    left: 20px;
    width: 20px;
}

.button {
    background-color: lightgrey;
}

.button:hover {
    background-color:rebeccapurple;
}

.modal{
    display: none;
    position: fixed;
    background-color: rgb(86, 86, 94);
    z-index:1;
    left: 35%;
    top: 70%;
    padding: 2px;
    height: 65px;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(231, 16, 16, 0.2), 0 7px 20px 0 rgb(224, 19, 19);
    
}

.modal-content{
    background-color: rgb(114, 114, 153);
    margin: 0% 0%;
    height: 65px;
    color: white;
}

.closeBtn {
    background-color: rgb(54, 54, 63);
    position: relative;
    top: 5px;
    color: #ccc;
}

.closeBtn:hover, .closeBtn:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
}

.closeX {
    background-color: rgb(54, 54, 63);
    color: #ccc;
    float: right;
    font-size: 20px;
}

.closeX:hover, .closeBtn:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-image: url('../resources/sliders.jfif');
    background-size: cover;
    height: 900px;
}